.wrapper {
    max-width: 50rem;
    width: 100%;
    margin: 0;
  }
  .tabs {
    position: relative;
    margin: 3rem 0;
    height: 14.75rem;
  }
  .tabs::before,
  .tabs::after {
    content: '';
    display: table;
  }
  .tabs::after {
    clear: both;
  }
  .tab {
    float: right;
  }
  .tab-switch {
    display: none;
  }
  .tab-label {
    position: relative;
    display: block;
    line-height: 2.75em;
    height: 3em;
    padding: 0 1.618em;
    background: var(--yellow-color);
    border-right: 0.125rem solid var(--yellow-color);
    color: white;
    cursor: pointer;
    top: 0;
    transition: all 0.25s;
    border-radius: 5px 5px 0px 0px;
  }
  .tab-label:hover {
    top: -0.25rem;
    transition: top 0.25s;
  }
  .tab-content {
    position: absolute;
    z-index: 1;
    top: 2.75em;
    left: 0;
    padding: 1.618rem;
    color: var(--blue-color);
    background-color: white;
    width: 100%;
    border-bottom: 0.25rem solid white;
    opacity: 0;
    transition: all 0.35s;
    border-radius: 5px;
  }
  .tab-switch:checked + .tab-label {
    background: white;
    color: var(--blue-color);
    border-bottom: 0;
    border-right: 0.125rem solid white;
    transition: all 0.35s;
    z-index: 1;
    top: -0.0625rem;
  }
  .tab-switch:checked + label + .tab-content {
    z-index: 2;
    opacity: 1;
    transition: all 0.35s;
  }