.portfolio-wrap {
    color: white;
    font-size: 60px;
  }
  
  .portfolio-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--yellow-color);
    width: 100%;
    border-radius: 10px;
    margin: 25px;
    padding: 25px;
  }
  
  .potfolio-image:hover {
    animation: bounce 1s;
  }
  
  .potfolio-h2 {
    font-size: 1.2rem;
    margin: 15px;
    text-align: center;
  }
  .potfolio-h5 {
    margin: 15px;
  }