.order-button:hover {
    color: var(--blue-color);
    transform: scale(1.1);
  }
  
  .project {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 30px;
    background-color: var(--yellow-color);
  }
  
  .project-title {
    color: var(--blue-color);
    font-size: 30px;
  }
  
  .project-description {
    color: var(--blue-color);
    font-size: 20px;
  }
  
  .project-btn {
    color: white;
    background-color: var(--blue-color);
  }
  
  .project-btn:hover {
    background-color: white;
    color: var(--blue-color);
  }