/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .counter {
      flex-direction: column;
      margin: 70px 0px 50px 0px;
    }
    .counter .row {
      margin: 10px;
    }
    .content {
      flex-direction: column;
      margin: 0px;
    }
    .about-h1 {
      font-size: 35px;
    }
    .content img {
      height: 200px;
    }
    .about {
      flex-direction: column;
      padding: 0px;
    }
    .about-image {
      height: 250px;
    }
    .summary-title {
      font-size: 30px;
    }
    .summary-section {
      max-width: 75%;
      flex-basis: 75%;
    }
    .summary-text {
      font-size: 18px;
    }
    .skills-title {
      font-size: 30px;
    }
    .skills-description {
      font-size: 13px;
    }
    .skills-section {
      flex-direction: column;
    }
    .box {
      height: 130px;
      width: 130px;
    }
    .boxes-section {
      flex-direction: row;
    }
    .boxes {
      flex-direction: column;
    }
    .box-title {
      font-size: 16px;
    }
    .box-description {
      font-size: 10px;
    }
    .services-title {
      font-size: 40px;
    }
    .cards {
      flex-direction: column;
    }
    .card {
      width: 250px;
      height: 350px;
    }
  
    .card-image {
      height: 100px;
    }
  
    .card-title {
      font-size: 18px;
    }
  
    .card-description {
      font-size: 16px;
    }
  
    .portfolio-wrap {
      font-size: 40px;
    }
    .work-section {
      flex-direction: column;
    }
    .work {
      width: 100%;
      min-height: 200px;
    }
  
    .work-h2 {
      font-size: 1.2rem;
    }
    .work-h5,
    .work-h6 {
      font-size: 16px;
    }
  }