<section class="page" id="about">
  <div class="row about">
    <div class="column summary-image">
      <img
        class="about-image"
        src="/images/profile.jpg"
        alt="alidolatabadi-picture"
      />
    </div>

    <div class="column summary-section">
      <h2 class="summary-title">درباره من</h2>
      <h3 class="summary-text">
        علی دولت آبادی هستم، 3 ساله به صورت فریلنسر ( پروژه آزاد ) مشغول به کار
        هستم. با زبان برنامه نویسی #C و تکنولوژی های دات نت ، به طراحی و توسعه ی
        اپلیکیشن های موبایلی برای IOS و اندروید، وب سایت و نرم افزار های تحت
        دسکتاپ (Windows و MacOS ) می پردازم. درصورت نیاز کارفرما وبسایت با
        استفاده از سیستم مدیریت محتوای Wordpress نیز طراحی می شود. در کارم همیشه
        سعی در طراحی و توسعه به بهترین شکل و با بهترین روش ها دارم و رفع نیاز و
        رضایت 100% مشتری از اولویت های من است. در حال یادگیری و تسلط به دنیای
        جاوا اسکریپت و فریمورک های آن نیز هستم.
      </h3>
    </div>
  </div>
  <div class="column about-summary">
    <div class="row counter-width">
      <h4 class="summary-text">نام و نام خانوادگی</h4>
      <hr />
      <h4 class="summary-text">علی دولت آبادی</h4>
    </div>
    <div class="row counter-width">
      <h4 class="summary-text">آدرس</h4>
      <hr />
      <h4 class="summary-text">ایران، تهران</h4>
    </div>
    <div class="row counter-width">
      <h4 class="summary-text">ایمیل</h4>
      <hr />
      <a class="summary-text" href="mailto:alidlt1@yahoo.com"
        >alidlt1@yahoo.com</a
      >
    </div>
    <div class="row">
      <h4 class="summary-text">شماره تماس</h4>
      <hr />
      <a class="summary-text" href="tel:+989391811885">+989391811885</a>
    </div>
  </div>
</section>
