<section class="page" id="certificates">
    <div class="column">
        <h3 class="cert-title">
            مدارک من
        </h3>
        <div class="cert-container">
            <div class="pswp-gallery" id="my-gallery">
                <div class="gallery_card">
                    <div class="pswp-gallery__item">
                        <a href="/images/maui.jpg" data-pswp-width="1024" data-pswp-height="768" target="_blank">
                            <img src="/images/maui.jpg" alt="مدرک .Net Maui از موسسه تاپلرن" />
                        </a>
                    </div>
                    <div class="gallery_card_text">
                        <span>مدرک دوره .Net Maui</span>
                    </div>
                </div>

                <div class="gallery_card">
                    <div class="pswp-gallery__item">
                        <a href="/images/c.jpg" data-pswp-width="1024" data-pswp-height="768" target="_blank">
                            <img src="/images/c.jpg" alt="مدرک C# از موسسه تاپلرن" />
                        </a>
                    </div>
                    <div class="gallery_card_text">
                        <span>مدرک دوره C#</span>
                    </div>
                </div>

                <div class="gallery_card">
                    <div class="pswp-gallery__item">
                        <a href="/images/c-advanced.jpg" data-pswp-width="1024" data-pswp-height="768" target="_blank">
                            <img src="/images/c-advanced.jpg" alt="مدرک C# پیشرفته از موسسه تاپلرن" />
                        </a>
                    </div>
                    <div class="gallery_card_text">
                        <span>مدرک دوره C# پیشرفته</span>
                    </div>
                </div>

                <div class="gallery_card">
                    <div class="pswp-gallery__item">
                        <a href="/images/xamarin.jpg" data-pswp-width="1024" data-pswp-height="768" target="_blank">
                            <img src="/images/xamarin.jpg" alt="مدرک Xamarin Forms از موسسه تاپلرن" />
                        </a>
                    </div>
                    <div class="gallery_card_text">
                        <span>مدرک دوره Xamarin Forms</span>
                    </div>
                </div>

                <div class="gallery_card">
                    <div class="pswp-gallery__item">
                        <a href="/images/html.jpg" data-pswp-width="1024" data-pswp-height="768" target="_blank">
                            <img src="/images/html.jpg" alt="مدرک Html/Css از موسسه تاپلرن" />
                        </a>
                    </div>
                    <div class="gallery_card_text">
                        <span>مدرک دوره Html/Css</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>