<section class="page column" id="contact">
  <h1 class="portfolio-wrap">تماس با من</h1>
  <div class="column informations">
    <a class="information" href="tel:+989391811885">
      <span class="information-icon">
        <i class="fas fa-phone"></i>
      </span>
      <h2 class="information-title">شماره تماس</h2>
      <h2 class="information-title">09391811885</h2>
    </a>
    <a class="information" href="mailto:alidlt1@yahoo.com">
      <span class="information-icon">
        <i class="fas fa-envelope"></i>
      </span>
      <h2 class="information-title">ایمیل</h2>
      <h2 class="information-title">alidlt1@yahoo.com</h2>
    </a>
  </div>
</section>
