<section>
  <div class="row counter">
    <div class="row counter-width">
      <div class="row">
        <img class="counter-image" src="/icons/desktop.png" />
      </div>
      <div class="column counter-width">
        <h2 class="counter-number">34</h2>
        <h4 class="counter-text">پروژه انجام شده</h4>
      </div>
    </div>
    <div class="row counter-width">
      <div class="row">
        <img class="counter-image" src="/icons/mobile.png" />
      </div>
      <div class="column counter-width">
        <h2 class="counter-number">10</h2>
        <h4 class="counter-text">مشتری راضی</h4>
      </div>
    </div>
    <div class="row counter-width">
      <div class="row">
        <img class="counter-image" src="/icons/mobile.png" />
      </div>
      <div class="column counter-width">
        <h2 class="counter-number">36</h2>
        <h4 class="counter-text">ماه تجربه</h4>
      </div>
    </div>
  </div>
</section>
