<section class="page" id="home">
  <div class="content">
    <div>
      <h4 class="about-h4">سلام، من</h4>
      <h1 class="about-h1">علی <span>دولت آبادی</span></h1>
      <h4 class="about-h4">هستم.</h4>
      <h3 class="about-h3">یک برنامه نویس چند سکویی</h3>
      <h4 class="about-h4"><span>Full-stack Developer</span></h4>
    </div>
    <div class="column">
      <img src="/images/picture.jpg" alt="alidolatabadi-picture" />
      <div class="row">
        <button class="btn">دانلود CV</button>
        <button class="btn">انجام پروژه</button>
      </div>
    </div>
  </div>
</section>
