<header class="header">
  <input type="checkbox" id="menu-toggle" class="menu-btn" />
  <label for="menu-toggle" class="menu-icon">
    <span class="navicon"></span>
  </label>
  <ul class="menu">
    <li><a href="#home" class="active">خانه</a></li>
    <li><a href="#about">درباره من</a></li>
    <li><a href="#skills">مهارت ها</a></li>
    <li><a href="#services">خدمات</a></li>
    <li><a href="#jobs">سوابق شغلی</a></li>
    <li><a href="#portfolio">نمونه کار ها</a></li>
    <li><a href="#contact">تماس با من</a></li>
  </ul>
</header>
