<section class="column" id="portfolio">
  <h1 class="portfolio-wrap">نمونه کار های من</h1>
  <div class="wrapper">
    <div class="tabs">
      <div class="tab column">
        <input
          type="radio"
          name="css-tabs"
          id="tab-1"
          checked
          class="tab-switch"
        />
        <label for="tab-1" class="tab-label">وبسایت ها</label>
        <div class="tab-content">
          <div class="portfolio-section">
            <div class="portfolio">
              <h2 class="potfolio-h2">وبسایت شرکتی RoboMed</h2>
              <h5 class="potfolio-h5">معرفی شرکت و ...</h5>
            </div>
            <div class="portfolio">
              <h2 class="potfolio-h2">
                وبسایت چندمنظوره کلینیک روانشناختی باور
              </h2>
              <h5 class="potfolio-h5">فروشگاه،معرفی شرکت و مشاورین و ...</h5>
            </div>
            <div class="portfolio">
              <h2 class="potfolio-h2">وبسایت فروشگاهی داروخانه دکتر سما</h2>
              <h5 class="potfolio-h5">
                در این وبسایت شما می توانید محصولات آرایشی و بهداشتی را خریداری
                کنید.
              </h5>
            </div>
            <div class="portfolio">
              <h2 class="potfolio-h2">وبسایت فروشگاهی خشکبار عرشیا</h2>
              <h5 class="potfolio-h5">فروشگاه محصولات آجیل و خشکبار</h5>
            </div>
            <div class="portfolio">
              <h2 class="potfolio-h2">وبسایت شرکتی نیکتوران</h2>
              <h5 class="potfolio-h5">توضیحات</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="tab">
        <input type="radio" name="css-tabs" id="tab-2" class="tab-switch" />
        <label for="tab-2" class="tab-label">اپلیکیشن ها</label>
        <div class="tab-content">
          <div class="portfolio-section">
            <div class="portfolio">
              <h2 class="potfolio-h2">وبسایت شرکتی RoboMed</h2>
              <h5 class="potfolio-h5">معرفی شرکت و ...</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="tab">
        <input type="radio" name="css-tabs" id="tab-3" class="tab-switch" />
        <label for="tab-3" class="tab-label">نرم افزار ها</label>
        <div class="tab-content"></div>
      </div>
    </div>
  </div>
</section>
