<section class="page column" id="portfolio">
  <h1 class="portfolio-wrap">نمونه کار های من</h1>
  <div class="tab">
    <button class="tablinks" id="website-btn" onclick="openTab(event, 'website')">وبسایت ها</button>
    <button class="tablinks" onclick="openTab(event, 'mobile')">اپلیکیشن ها</button>
    <button class="tablinks" onclick="openTab(event, 'software')">نرم افزار ها</button>
  </div>

  <div id="website" class="tabcontent">
    <div class="card my-popup">
      <div class="card-image">
        <img src="/images/ax.png" alt="Card Image">
      </div>
      <div class="card-text">
        <h3>Title</h3>
        <p>Description fvrfdsfgoes here</p>
      </div>
    </div>
  </div>

  <div id="mobile" class="tabcontent">
    <div class="card my-popup">
      <div class="card-image">
        <img src="/images/ax.png" alt="Card Image">
      </div>
      <div class="card-text">
        <h3>Title</h3>
        <p>Description goes here</p>
      </div>
    </div>
  </div>

  <div id="software" class="tabcontent">
    <div class="card my-popup">
      <div class="card-image">
        <img src="/images/ax.png" alt="Card Image">
      </div>
      <div class="card-text">
        <h3>Title</h3>
        <p>Description goes herDescription goes herDescription goes herDescription goes herDescription goes
          herDescription goes herDescription goes herDescription goes herDescription goes here</p>
      </div>
      <div class="card-content">
        <div class="splide" style="max-height: 300px;">
          <div class="splide__track">
            <ul class="splide__list">
              <li class="splide__slide"><img src="/images/ax.png" alt="Card Image">
              </li>
              <li class="splide__slide"><img src="/images/xamarin.jpg" alt="Card Image">
              </li>
              <li class="splide__slide"><img src="/images/maui.jpg" alt="Card Image">
              </li>
              <li class="splide__slide"><img src="/images/logo.png" alt="Card Image">
              </li>
              <li class="splide__slide"><img src="/images/html.jpg" alt="Card Image">
              </li>
              <li class="splide__slide"><img src="/images/html.jpg" alt="Card Image">
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
</section>