<section class="page" id="services">
  <div class="column">
    <h1 class="services-title">خدمات من</h1>
    <div class="cards">
      <div class="card">
        <img class="card-image" src="/icons/web-develpment.png" alt="web-develpment" />
        <h4 class="card-title"><b>توسعه و طراحی وب سایت</b></h4>
        <p class="card-description">
          طراحی و توسعه ی هر نوع وبسایت با ظاهری جذاب و عملکردی بهینه
        </p>
        <button class="button order-button">سفارش</button>
      </div>
      <div class="card">
        <img class="card-image" src="/icons/desktop.png" alt="desktop-develpment" />
        <h4 class="card-title"><b>نرم افزار تحت دسکتاپ</b></h4>
        <p class="card-description">
          پیاده سازی نرم افزار های تحت ویندوز و مک برای هر نیاز شما
        </p>
        <button class="button order-button">سفارش</button>
      </div>
      <div class="card">
        <img class="card-image" src="/icons/mobile.png" alt="mobile-develpment" />
        <h4 class="card-title"><b>اپلیکیشن موبایل</b></h4>
        <p class="card-description">
          اپلیکیشن موبایل برای اندروید و آی او اس با طراحی زیبا و کاربرپسند
        </p>
        <button class="button order-button">سفارش</button>
      </div>

      <div class="card">
        <img class="card-image" src="/icons/mobile.png" alt="mobile-develpment" />
        <h4 class="card-title"><b>تدریس</b></h4>
        <p class="card-description">
          اپلیکیشن موبایل برای اندروید و آی او اس با طراحی زیبا و کاربرپسند
        </p>
        <button class="button order-button">سفارش</button>
      </div>

      <div class="card">
        <img class="card-image" src="/icons/mobile.png" alt="mobile-develpment" />
        <h4 class="card-title"><b>مشاوره</b></h4>
        <p class="card-description">
          اپلیکیشن موبایل برای اندروید و آی او اس با طراحی زیبا و کاربرپسند
        </p>
        <button class="button order-button">سفارش</button>
      </div>
    </div>
  </div>
</section>