<section class="page" id="skills">
  <div class="column skills-section">
    <h1 class="skills-title">مهارت های من</h1>
    <h2 class="skills-description">
      هیچ صد در صدی وجود ندارد اما تلاشم همیشه بر این است که به بالاترین حد ممکن
      برسم
    </h2>
    <div class="boxes-section">
      <div class="boxes">
        <div class="box">
          <h1 class="box-title">C#</h1>
          <h4 class="box-description">90%</h4>
        </div>
        <div class="box">
          <h1 class="box-title">Asp.Net</h1>
          <h4 class="box-description">70%</h4>
        </div>
        <div class="box">
          <h1 class="box-title">.Net Maui</h1>
          <h4 class="box-description">60%</h4>
        </div>
        <div class="box">
          <h1 class="box-title">Xamarin Forms</h1>
          <h4 class="box-description">80%</h4>
        </div>
      </div>
      <div class="boxes">
        <div class="box">
          <h1 class="box-title">WPF</h1>
          <h4 class="box-description">90%</h4>
        </div>
        <div class="box">
          <h1 class="box-title">Winforms</h1>
          <h4 class="box-description">90%</h4>
        </div>
        <div class="box">
          <h1 class="box-title">Html/Css/JS</h1>
          <h4 class="box-description">60%</h4>
        </div>
        <div class="box">
          <h1 class="box-title">Wordpress</h1>
          <h4 class="box-description">80%</h4>
        </div>
      </div>
    </div>
  </div>
</section>
