<section class="page" id="skills">
  <div class="column">
    <h1 class="skills-title">مهارت های من</h1>
    <h2 class="skills-description">
      هیچ صد در صدی وجود ندارد اما تلاشم همیشه بر این است که به بالاترین حد ممکن
      برسم
    </h2>
    <div class="skill-container">
      <p>زبان های برنامه نویسی</p>
      <div class="skills-section">
        <div class="skill">
          <div class="progress-wrapper">
            <div class="progress-title">
              <span class="level">حرفه ای</span>
              <span class="name">C# (.Net )</span>
            </div>
            <div class="progress">
              <div class="progressbar" style="width: 85% !important;">
              </div>
            </div>
          </div>
        </div>
        <div class="skill">
          <div class="progress-wrapper">
            <div class="progress-title">
              <span class="level">حرفه ای</span>
              <span class="name">JavaScript</span>
            </div>
            <div class="progress">
              <div class="progressbar" style="width: 80% !important;">
              </div>
            </div>
          </div>
        </div>
      </div>

      <p>وب</p>
      <div class="skills-section">
        <div class="skill">
          <div class="progress-wrapper">
            <div class="progress-title">
              <span class="level">حرفه ای</span>
              <span class="name">Asp.Net</span>
            </div>
            <div class="progress">
              <div class="progressbar" style="width: 85% !important;">
              </div>
            </div>
          </div>
        </div>
        <div class="skill">
          <div class="progress-wrapper">
            <div class="progress-title">
              <span class="level">حرفه ای</span>
              <span class="name">Node.Js</span>
            </div>
            <div class="progress">
              <div class="progressbar" style="width: 80% !important;">
              </div>
            </div>
          </div>
        </div>
        <div class="skill">
          <div class="progress-wrapper">
            <div class="progress-title">
              <span class="level">حرفه ای</span>
              <span class="name">React.Js</span>
            </div>
            <div class="progress">
              <div class="progressbar" style="width: 80% !important;">
              </div>
            </div>
          </div>
        </div>
        <div class="skill">
          <div class="progress-wrapper">
            <div class="progress-title">
              <span class="level">حرفه ای</span>
              <span class="name">Next.Js</span>
            </div>
            <div class="progress">
              <div class="progressbar" style="width: 80% !important;">
              </div>
            </div>
          </div>
        </div>
        <div class="skill">
          <div class="progress-wrapper">
            <div class="progress-title">
              <span class="level">حرفه ای</span>
              <span class="name">Wordpress</span>
            </div>
            <div class="progress">
              <div class="progressbar" style="width: 80% !important;">
              </div>
            </div>
          </div>
        </div>
        <div class="skill">
          <div class="progress-wrapper">
            <div class="progress-title">
              <span class="level">حرفه ای</span>
              <span class="name">Html/Css/Scss</span>
            </div>
            <div class="progress">
              <div class="progressbar" style="width: 80% !important;">
              </div>
            </div>
          </div>
        </div>
        <div class="skill">
          <div class="progress-wrapper">
            <div class="progress-title">
              <span class="level">حرفه ای</span>
              <span class="name">Bootstrap</span>
            </div>
            <div class="progress">
              <div class="progressbar" style="width: 80% !important;">
              </div>
            </div>
          </div>
        </div>
      </div>

      <p>موبایل</p>
      <div class="skills-section">
        <div class="skill">
          <div class="progress-wrapper">
            <div class="progress-title">
              <span class="level">حرفه ای</span>
              <span class="name">.Net Maui</span>
            </div>
            <div class="progress">
              <div class="progressbar" style="width: 85% !important;">
              </div>
            </div>
          </div>
        </div>

        <div class="skill">
          <div class="progress-wrapper">
            <div class="progress-title">
              <span class="level">حرفه ای</span>
              <span class="name">Xamarin Forms</span>
            </div>
            <div class="progress">
              <div class="progressbar" style="width: 85% !important;">
              </div>
            </div>
          </div>
        </div>
      </div>

      <p>ویندوز</p>
      <div class="skills-section">
        <div class="skill">
          <div class="progress-wrapper">
            <div class="progress-title">
              <span class="level">حرفه ای</span>
              <span class="name">WPF</span>
            </div>
            <div class="progress">
              <div class="progressbar" style="width: 85% !important;">
              </div>
            </div>
          </div>
        </div>

        <div class="skill">
          <div class="progress-wrapper">
            <div class="progress-title">
              <span class="level">حرفه ای</span>
              <span class="name">Windows Forms</span>
            </div>
            <div class="progress">
              <div class="progressbar" style="width: 85% !important;">
              </div>
            </div>
          </div>
        </div>
      </div>

      <p>دیتابیس</p>
      <div class="skills-section">
        <div class="skill">
          <div class="progress-wrapper">
            <div class="progress-title">
              <span class="level">حرفه ای</span>
              <span class="name">MongoDB</span>
            </div>
            <div class="progress">
              <div class="progressbar" style="width: 85% !important;">
              </div>
            </div>
          </div>
        </div>

        <div class="skill">
          <div class="progress-wrapper">
            <div class="progress-title">
              <span class="level">حرفه ای</span>
              <span class="name">Sql Server</span>
            </div>
            <div class="progress">
              <div class="progressbar" style="width: 85% !important;">
              </div>
            </div>
          </div>
        </div>
        <div class="skill">
          <div class="progress-wrapper">
            <div class="progress-title">
              <span class="level">حرفه ای</span>
              <span class="name">Redis</span>
            </div>
            <div class="progress">
              <div class="progressbar" style="width: 85% !important;">
              </div>
            </div>
          </div>
        </div>
      </div>

      <p>ابزار ها</p>
      <div class="skills-section">
        <div class="skill">
          <div class="progress-wrapper">
            <div class="progress-title">
              <span class="level">حرفه ای</span>
              <span class="name">Git</span>
            </div>
            <div class="progress">
              <div class="progressbar" style="width: 85% !important;">
              </div>
            </div>
          </div>
        </div>

        <div class="skill">
          <div class="progress-wrapper">
            <div class="progress-title">
              <span class="level">حرفه ای</span>
              <span class="name">Docker</span>
            </div>
            <div class="progress">
              <div class="progressbar" style="width: 85% !important;">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>