<section class="page" id="about">
  <h2 class="summary-title">درباره من</h2>
  <div class="row about">
    <div class="column summary-image">
      <img class="about-image" src="/images/profile.jpg" alt="alidolatabadi-picture" />
    </div>

    <div class="column summary-section">
      <p class="summary-text">
        علی دولت آبادی هستم، 3 ساله به صورت فریلنسر ( پروژه آزاد ) مشغول به کار
        هستم. با زبان برنامه نویسی #C و تکنولوژی های دات نت ، به طراحی و توسعه ی
        اپلیکیشن های موبایلی برای IOS و اندروید، وب سایت و نرم افزار های تحت
        دسکتاپ (Windows و MacOS ) می پردازم. درصورت نیاز کارفرما وبسایت با
        استفاده از سیستم مدیریت محتوای Wordpress نیز طراحی می شود. در کارم همیشه
        سعی در طراحی و توسعه به بهترین شکل و با بهترین روش ها دارم و رفع نیاز و
        رضایت 100% مشتری از اولویت های من است. در حال یادگیری و تسلط به دنیای
        جاوا اسکریپت و فریمورک های آن نیز هستم.
      </p>
      <div class="column about-summary">
        <div class="sum-section">
          <div class="sum-inner-section">
            <span>نام و نام خانوادگی</span>
            <span>علی دولت آبادی</span>
          </div>
          <div class="sum-inner-section">
            <span>شماره تماس</span>
            <span><a href="tel:+989391811885">+989391811885</a></span>
          </div>
          <div class="sum-inner-section">
            <span>ایمیل</span>
            <span><a href="mailto:alidlt1@yahoo.com">alidlt1@yahoo.com</a></span>
          </div>
        </div>
      </div>
</section>