<section class="page column" id="jobs">
  <h3 class="work-header-title">تجربه های کاری من </h3>
  <div class="container">
    <div class="work-container">
      <div class="work-card">
        <div class="image-section">
          <img src="/images/timeline.png" class="timeline-icon">
        </div>
        <div class="work-section">
          <h4 class="work-title">مسئول دپارتمان آیتی و فول استک دولوپر
          </h4>
          <h5 class="work-company">
            RoboMed
          </h5>
          <span class="work-date">فروردین 1399 تاکنون</span>
          <p class="work-description">
            توضیحاتی از قبیل تکنولوژی های استفاده شده در این شرکت و وظایفی که انجام شده.
          </p>
        </div>
      </div>

      <div class="work-card">
        <div class="image-section">
          <img src="/images/timeline.png" class="timeline-icon">
        </div>
        <div class="work-section">
          <h4 class="work-title">طراحی و پشتیبانی وبسایت</h4>
          <h5 class="work-company">خشکبار عرشیا</h5>
          <span class="work-date">فروردین 1398 تا تیر 1399</span>
          <p class="work-description">
            توضیحاتی از قبیل تکنولوژی های استفاده شده در این شرکت و وظایفی که انجام
            شده. </p>
        </div>
      </div>

      <div class="work-card">
        <div class="image-section">
          <img src="/images/timeline.png" class="timeline-icon">
        </div>
        <div class="work-section">
          <h4 class="work-title">طراحی و پشتیبانی وبسایت</h4>
          <h5 class="work-company">خشکبار عرشیا</h5>
          <span class="work-date">فروردین 1398 تا تیر 1399</span>
          <p class="work-description">
            توضیحاتی از قبیل تکنولوژی های استفاده شده در این شرکت و وظایفی که انجام
            شده. </p>
        </div>
      </div>

      <div class="work-card">
        <div class="image-section">
          <img src="/images/timeline.png" class="timeline-icon">
        </div>
        <div class="work-section">
          <h4 class="work-title">طراحی و پشتیبانی وبسایت</h4>
          <h5 class="work-company">خشکبار عرشیا</h5>
          <span class="work-date">فروردین 1398 تا تیر 1399</span>
          <p class="work-description">
            توضیحاتی از قبیل تکنولوژی های استفاده شده در این شرکت و وظایفی که انجام
            شده. </p>
        </div>
      </div>
    </div>
  </div>
</section>