<div class="notfound-div">
    <img class="notfound-image" src="/images/404.svg" alt="Astronaut Lost in Space">
    <p class="notfound-p">متاسفم که نتونستم صفحه مورد نظرت رو پیدا کنم :( </p>
    <p class="notfound-des">نگران نباش، میتونی <a href="/">به صفحه اصلی برگردی </a> و از اونجا هرچی که میخوای رو پیدا کنی</p>
</div>